/*	################################################################

1) GENERAL STRUCTURES
2) HEADER SECTION
3) MENU SECTION

################################################################# */
/* STYLE */
@import url(bootstrap.css) screen;
@import url(owl.carousel.css) screen;

/* ======================
   1. GENERAL SECTION
 ====================== */


* {
    margin: 0;
    padding: 0px;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    background: #000010;
    color: #fff;
    padding: 0;
    margin: 0;
    overflow: visible;
}

.hidden {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
::-moz-selection {
    color: #555252;
    text-shadow: none;
    background: #2B2E31;
}
::-webkit-input-placeholder {
    color: #555252 !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #555252 !important;
}
::-moz-placeholder  {
    /* Firefox 19+ */
    color: #555252 !important;
}
:-ms-input-placeholder {
    color: #555252 !important;
}
.contact-form .form-control::-webkit-input-placeholder{
    color: #fff !important;
}
.contact-form .form-control::-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-moz-placeholder{
    color: #fff !important;
}
.contact-form .form-control:-ms-input-placeholder{
    color: #fff !important;
}

*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,a:focus {
    text-decoration: none;
    color: #f3a50d;
}
a img {
    border: none;
    vertical-align: bottom;
}
a.remove {
    display: block;
    height: 18px;
    width: 18px;
    margin: 10px;
    padding-left: 0 !important;
    text-indent: -9999px;
    background: url(images/remove.png) #01090C;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px
}
li{
color: #f3a50d;
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    line-height: 140%;
    color: #fff;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
input {
    margin: 0 0 20px;
}
p {
font-family: 'Comfortaa', cursive;
}
.lead {
    font-family: 'Comfortaa', cursive;!important;
    font-size: 18px;
    margin: 15px 0;
    padding: 0;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
audio,
video {
    max-width: 100%;
    height: auto;
}

iframe,embed,object {
    max-width: 100%;
}
input,textarea {
    color: #000 !important
}

html, body, .wrapper{
    height: 100%;
}
.titie-section{
    margin-bottom: 30px;
    display: block;
    position: relative;
}
.titie-section h1{
margin-bottom: 80px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.titie-section h1:before{
    content: "";
    width: 340px;
    display: block;
    height: 3px;
    background:#f3a50d;
    position: absolute;
    bottom: -16px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section h1:after{
    content: "";
    width: 340px;
    display: block;
    height: 3px;
    background:#f3a50d;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.titie-section:after{
    content: "";
    width: 400px;
    display: block;
    height: 7px;
    background:#f3a50d;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
}


/*
    HEADER SECTION
 */
.header-section{
    display: block;
    width: 100%;
    padding: 5px;
    position: relative;
    transition: all 1s;
    background: #000010;
box-shadow: 0 0 15px rgba(0,0,0);
}
.header-icon{
margin:7px;
position: relative;
width: 120px;
height: auto;
z-index: 9999;
}
header.header-section.fixed {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    background: #000010;
    z-index: 99999;
    padding: 10px 0;
    transition: all 1s;
}
.header-section .navbar{
    height: auto;
    min-height: none;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    background: transparent !important
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    text-align: center;
    padding: 0 !important;
    background: transparent !important;
}

ul.navbar-nav{
    background: transparent;
margin: 20px;
    display: inline-block;
    float: none;
}
ul.navbar-nav li{
padding-right: 40px;
}
ul.navbar-nav li a{
    font-size: 18px;
    color: #fff !important;
    background: transparent !important;
    text-transform: uppercase;
}
ul.navbar-nav li.active a, ul.navbar-nav li a:hover{
    color: #f3a50d !important;
}
ul.navbar-nav.menu li a{
    color: #0f0101;
font-family: 'Comfortaa', cursive;
}

/*
    MAIN SECTION
 */
.caption{
	height: 680px;
	width: 1200px;	
	transform: skewX(-14deg);
	-webkit-transform: skewX(-14deg);
	-ms-transform: skewX(-14deg);
	-o-transform: skewX(-14deg);
	-moz-transform: skewX(-14deg);
	background:rgba(0, 0, 16, .7);
    
}
.main-section{
    text-align: left;
background: url(../images/background1.jpg);
background-size: cover;
overflow: hidden;
}
.main-item{
margin-top: 50px;
position: absolute;
transform: none;
z-index: 9999;
}
.main-item h3{
    font-size: 36px;
    color: #f3a50d;
z-index: 9999;
}
.main-item p{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 24px;
z-index: 9999;
}

/*
    SERVICE SECTION
 */
.service-section{
    display: block;
    text-align: center;
    padding: 20px 0 80px;
}
.service-item{}
.service-item i{
    font-size: 70px;
    text-align: center;
}
.service-item h3{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.service-item p{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.service-item:hover h3, .service-item:hover i{
    color: #f3a50d

}


/*
    PIC SECTION
 */
.pic-section{
    display: block;
    padding: 70px 0 70px;
    position: relative;
    width: 100%;
    background: url(../images/iss-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
.pic-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}
.pic-section h1{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}
.pic-section h2{
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*
    PIC TEXT SECTION
 */
.pictext-section{
    display: block;
    padding: 170px 0 130px;
    position: relative;
    width: 100%;
    background: url(../images/nightsky.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}
.pictext-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}
.pictext-section p{
    font-size: 22px;
}
.pictext-section h2{
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
}
.pictext-section img{
    box-shadow: 0 0 15px rgba(0,0,0);
    width: 70%;
height: auto;
}

/*
    FACT SECTION
 */
#particles-js {
	width: 100%;
	background: #0b0c22;
	background-size: cover;
}
.fact-section{
    padding: 50px 0 60px;
    display: block;
    width: 100%;
background-color: #000010;
}
.fact-section .fact{
    display: block;
    margin-top: 60px;
    text-align: center;
}
.fact .item:before{
    display: none;
}
.fact .item{
    text-align: center;
}
.fact .item img{
    display: inline-block;
    margin: 0 auto;
    height: 225px;
    width: 225px;
    border-radius: 50%;
}
.fact .item .carousel-caption{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;	
    width: 75%;
    text-shadow: none;
    margin-top: 30px;
}
.fact .item .carousel-caption p{
    font-size: 14px;
    font-weight: 400;
    color: #fff ;
    text-align: center;
    line-height: 24px;
}
.fact .item .carousel-caption h3{
    font-size: 18px;
    font-weight: 700;
    color: #f3a50d;
    text-align: center;
}
.fact .item .carousel-caption span{
    font-size: 14px;
    font-weight: 400;
    color: #fff ;
    text-align: center;
    line-height: 24px;
}

.fact-controler{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    left: 0;
    right: 0;
    width: auto;
}
.fact-controler li{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #03035b;
    margin: 10px;
}
.fact-controler li.active{
    height: 85px;
    width: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    position: relative;
    border: 5px solid #f3a50d;
    margin: 10px;
}

.fact-controler li img{
    margin: 0 auto;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
}

/*
    SPEC SECTION
 */
.spec-section .titie-section h1{
    padding: 0;
    display: block;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.spec-section{
    display: block;
    padding: 20px 0 80px;
}
.spec-section .titie-section{
    display: block;
    margin-bottom: 80px;
}
.block-item{}
.block-item img{
    width: 100%;
}
.block-item h3{
    font-size: 18px;
    font-weight: 600;
    display: block;
    line-height: 24px;
    position: relative;
    margin: 15px 0 ;
    padding: 0;
}
.block-item h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    display: block;
    background: #f3a50d;
    bottom: -8px;
}

.block-item p{
    font-size: 14px;
    font-weight: 40px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}
.block-item a:last-child{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 3px;
    transition: all 0.5s;
}

/*
    FOOTER SECTION
 */
footer.footer{
    display: block;
    text-align: center;
    background: #000010;
    padding: 20px 0;
    color: #fff;
}
footer.footer p{
text-align: centre;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

/*
Map section
*/
.map-section img{
height: 600px;
width: 100%;
}
.map-section .container{
margin-top	: 30px;
}

.dropdown {
  width: 210px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
color: #000;
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/*
Table section
*/
.table-section .container{
margin-top	: 30px;
}

/*
Iss-section
*/
.iss-section .container{
width: 100%;
padding: 0;
}
.iss-section img{
height: 650px;
width:100%;
}

