        <section class="main-section animate__animated animate__fadeIn wow">
            <div class="container">
	                <div class="row ">
	                	<div class="col-md-6 col-sm-6"></div>
	                	<div class="col-md-6 col-sm-6 animate__animated animate__fadeInRightBig wow" data-wow-delay="1s">
	                		<div class="row">
									<div class="col-lg-5"></div>
									<div class="col-lg-6">
			                    		<div class="main-item">
				                            <h3>OuterSpace</h3>
				                            <p>OuterSpace - это проект для визуализации данных NASA о космических тел с использованием СУДБ MongoDB.</p>
				                            <p>Цели данного проекта:</p>
				                            <ul>
     											<li><p>нахождение текущего положения международной космической станции на карте мира, а также просмотр прямой трансляции с МКС.</p></li>
     											<li><p>визуализация данных об упавших метеоритах.</p></li>
     											<li><p>получение сведений о пролетающих кометах и астероидах.</p></li>
   											</ul>	
											<p>Для реализации данного проекта были использованы данные с официального сайта Nasa.</p>
				                        </div>
				                    </div>
				                </div>
            				<div class="caption">
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </section>

		<section class="service-section">
            <div class="container">
            	<div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow animate__animated animate__fadeInDown">
                            <h1>NASA</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-6 wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
                        <div class="service-item">
                            <p>Космос – это сущность мало изведанная, и мы знаем о нем чуть больше, чем ничего. Так как человек ничтожно мал, по сравнению с космическим пространством, людям по-отдельности довольно затруднительно исследовать космос, именно поэтому этим занимаются различные компании.</p>
                            <p>NASA (национальное управление по аэронавтике и исследованию космического пространства) является одним из самых значимых участников освоения космоса. NASA осуществляет гражданскую космическую программу страны, а также научные исследования воздушного и космического пространств и научно-технологические исследования в области авиации, воздухоплавания и космонавтики.
							За 60 лет своего существования специалистами NASA, учеными, техниками, конструкторами и исследователями во многих областях науки реализовано больше 500 различных программ и проектов, каждый из которых стал важной вехой в истории современной науки. </p>
                        </div>
                </div>
            </div>
        </section>

        <section class="pic-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow animate__animated animate__fadeInRight">
                        <h1>МКС</h1>
                    </div>
                    <div class="wow animate__animated animate__fadeInLeft">
                        <h2>Международная космическая станция (МКС) — пилотируемая орбитальная станция, используемая как многоцелевой космический исследовательский комплекс. Эксплуатируется с конца 1998 года по настоящее время.</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="fact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titie-section wow animate__animated animate__zoomIn">
                            <h1>Классификация космических тел</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="fact" class="carousel slide fact" data-ride="fact">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="images/planet1.jpg" width="520" height="439" alt="">
                                <div class="carousel-caption">
                                	<h3>Астероид</h3>
                                    <p>Астероидами называются объекты Солнечной системы различной формы и относительно небольших размеров. Эти небесные тела также движутся по определенным орбитам вокруг Солнца.
                                    Потенциально опасными для нашей планеты считаются те объекты главного астероидного пояса, которые могут приблизиться к ней на расстоянии менее 7,5 млн. км.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/planet2.jpg" width="320" height="439" alt="">
                                <div class="carousel-caption">
                                	<h3>Метеор</h3>
                                    <p>Метеор - это астероид или любое другое небесное тело, которое попадает в атмосферу Земли и сгорает в ней.
                                    Взаимодействуя с атмосферой, метеорное тело теряет свою начальную массу, образуя так называемый метеорный след. Метеоры выглядят как звездообразные объекты, поэтому долгое время метеоры называли падающими звёздами. </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/planet3.jpg" width="320" height="439" alt="">
                                <div class="carousel-caption">
                                	<h3>Метеорит</h3>
                                    <p>Метеорит — тело космического происхождения, достигшее поверхности Земли, или другого крупного небесного тела.
                                    В наше время поток метеоритов имеет очень слабые значения, и это проявляется в основном в виде пылевых частиц, успешно сгорающих в атмосфере. Но некоторые гости всё же достигают земной поверхности.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators fact-controler">
                            <li data-target="#fact" data-slide-to="0" class="active">
                                <img src="images/planet1.jpg" width="300" height="400" alt="">
                            </li>
                            <li data-target="#fact" data-slide-to="1">
                                <img src="images/planet2.jpg" width="320" height="439" alt="">
                            </li>
                            <li data-target="#fact" data-slide-to="2">
                                <img src="images/planet3.jpg" width="320" height="439" alt="">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="pictext-section">
            <div class="container">
                <div class="row">
                	<div class="col-md-6 wow animate__animated animate__fadeInLeft">
                        <img src="images/rocket.jpg" width="500" height="300" alt="">
                    </div>
                    <div class="col-md-6 wow animate__animated animate__fadeInRight">
                        <h2>24.12.2020</h2>
                        <p>В рамках этого проекта мы решили осветить тему последнего космического тела, которое упало на нашу Землю. Это 10-тонный метеорит, который упал в Китае в уезде Юйшу.</p>
<p>Ученые посчитали, что радиус метеорита составляет около одного метра. Исходя из данного размера, его предполагаемая масса – не менее 10 тонн.
Событие произошло 24 декабря 2020 года в 7:25 по местному времени. Очевидцы отмечают, что падение метеорита сопровождалось большим взрывом. Сложно говорить о целостности самого объекта, но возможно китайским ученым удастся собрать хотя бы 10% внеземного тела.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="spec-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow animate__animated animate__bounceIn ">
                            <h1>Самые мощные падения метеоритов в истории</h1>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow animate__animated animate__backInUp" data-wow-delay="0.2s">
                        <div class="block-item">
                            <a href="#"><img src="images/block3.jpg" width="350" height="262" alt=""></a>
                            <h3>Госсесс Блафф (Gosses Bluff)<br>Северная территория, Австралия</h3>
                            <p>Оригинальный кратер , как полагают, было сформирован приблизительно 142,5 ± 0,8 миллиона лет назад, в самых ранних меловых , очень близко к юрской - меловой границы.Имеет вид горного кольца диаметром 22 километра. Сложен горными породами, размельчёнными при метеоритном ударе.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow animate__animated animate__backInUp" data-wow-delay="0.4s">
                        <div class="block-item">
                            <a href="#"><img src="images/block1.jpg" width="350" height="262" alt=""></a>
                            <h3>Кратер Бэррингера (Barringer Crater) Аризона, США</h3>
                            <p>Кратер возник около 50 тысяч лет назад после падения 50-метрового метеорита, весившего 300 тысяч тонн и летевшего со скоростью 45—60 тысяч км/ч.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow animate__animated animate__backInUp" data-wow-delay="0.6s">
                        <div class="block-item">
                            <a href="#"><img src="images/block2.jpg" width="350" height="262" alt=""></a>
                            <h3>Озеро Босумтви (Lake Bosumtwi Crater) Гана</h3>
                            <p>Озеро располагается внутри ударного кратера диаметром 10.5 км, образовавшегося после падения метеорита 1.07 млн лет назад. Глубина кратера составляет примерно 380 м (1250 футов), но, если считать вместе с глубиной озерных отложений, - 750 м (2460 футов).</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2020 OuterSpace</p>
                    </div>
                    <div class="col-md-8">
                    </div>
		    <div class="col-md-2">
                        <!-- Rating Mail.ru logo -->
<a href="https://top.mail.ru/jump?from=3226292">
<img src="https://top-fwz1.mail.ru/counter?id=3226292;t=617;l=1" style="border:0;" height="40" width="88" alt="Top.Mail.Ru" /></a>
<!-- //Rating Mail.ru logo -->
                    </div>
                    <div class="col-md-2">
                        <p>Made by 181-341</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
