        <section class="map-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h2>Фильтры</h2>
							<h3>Класс метеорита</h3>
							<input class="form-control" id="recclass" placeholder="Введите класс">
							<h3>Год падения</h3>
							<input class="form-control" id="fromYear" placeholder="Искать с такого года">
							<input class="form-control" id="toYear" placeholder="Искать до такого года">
							<h3>Масса</h3>
							<input class="form-control" id="fromMass" placeholder="Искать с такой массы">
							<input class="form-control" id="toMass" placeholder="Искать до такой массы">							
							<button id="filter-button" style="padding: 5px; width: 100%; background: #f3a50d; border-radius: 4px";>Применить</button>
                        <!-- <span class="msg"></span> -->
                    </div>
                    <div class="col-md-10">
                        <!-- карта -->
                        <div id="map" style="height: 450px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- таблица -->
        <section class="table-section">
			<div class="loader" id="spinner" style="margin-left: auto; margin-right: auto; display: block;">
			  <span>Loading...</span>
			</div>
            <div class="container">
				<div id="table-sortable" style="display: none;"></div>

			</div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2020 OuterSpace</p>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <p>Made by 181-341</p>
                    </div>
                </div>
            </div>
        </footer>
		
		

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
		  <div class="modal-content">
			<span class="close">&times;</span>
			<h3 style="color:black;text-align:center;">К сожалению место падения <br/>данного метеорита не зафиксировано</h3>
		  </div>

		</div>
        <!-- JQUERY -->
		
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
		<script src="https://table-sortable.now.sh/table-sortable.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>    
		<script src="js/table.pagination.js"></script>
    </body>
</html>
