<section class="main-section animate__animated animate__fadeIn wow">
    <div class="container">
        {{#each landmets}}
        <h1><span>{{name}}</span></h1>
        {{/each}}
    </div>
</section>