
        <section class="iss-section">
            <div class="container">
                <div id="map" style="height: 400px;"></div>
            </div>
        </section>

        <section class="spec-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section">
                            <h1>Запись с камер МКС</h1>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4">
                        <div class="block-item">
                            <a href="#"><img src="images/block3333.jpg" width="350" height="262" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-item">
                            <a href="#"><img src="images/block1111.jpg" width="350" height="262" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-item">
                            <a href="#"><img src="images/block2222.jpg" width="350" height="262" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2020 OuterSpace</p>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <p>Made by 181-341</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Leaflet map -->
		<script src="js/leaflet_map.js"></script>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>    
    </body>
</html>
