     <!-- стандартная таблица -->
        <section class="table-section">
            <div class="container">
				<div class="loader" id="spinner" style="margin-left: auto; margin-right: auto; display: block;">
				  <span>Loading...</span>
				</div>
                <div id="table-sortable" style="display: none;"></div>
            </div>
        </section>


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2020 OuterSpace</p>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <p>Made by 181-341</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
		<script src="https://table-sortable.now.sh/table-sortable.js"></script>
		<script src="js/asteroids.table.js"></script>
    </body>
</html>
