     <!-- стандартная таблица -->
        <section class="table-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h2>Фильтры</h2>
							<h3>Опасность столкновения</h3>
							<div class="form-group">
								<label for="isDangerous"></label>
								<select class="form-control" id="isDangerous">
									<option>Не важно</option>
									<option>Да</option>
									<option>Нет</option>	
								</select>
							</div>
                            <h3>Диаметр</h3>
                            <input class="form-control" id="fromDiameter" placeholder="Искать с такого диаметра">
                            <input class="form-control" id="toDiameter" placeholder="Искать до такого диаметра">                            
                            <button id="filter-button" style="padding: 5px; width: 100%; background: #f3a50d; border-radius: 4px";>Применить</button>
                        <!-- <span class="msg"></span> -->
                    </div>
                    <div class="col-md-10">
                        <div class="custom-loader" id="spinner" style="margin-left: auto; margin-right: auto; display: block;">
                            <span>Loading...</span>
                        </div>
                        <div id="table-sortable" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>2020 OuterSpace</p>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <p>Made by 181-341</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
		<script src="https://table-sortable.now.sh/table-sortable.js"></script>
		<script src="js/asteroids.table.js"></script>
    </body>
</html>
